* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* IMAGEM DE FUNDO */
body {
    background-color: rgb(247,247,247);
    font-family:sans-serif;
}


body::before{
    background-image: url(../imagens/fundos/LOGO\ VERTICAL.jpg);
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -99;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*DIVISÕES FLEX*/
.fundo-inicial, .titulo-fundo, .navegacao, .invisivel, .invisivel-secundario, .fechar, .invisivel-interno, .direcionamento, .controle-1, .controle-2, .controle-3, .controle-4, .controle-5, .controle-6, .controle-7, .titulo-global-pp, .promocoes-produtos, .container-black-sobre-nos, .titulo-global-loja, .lojas, .titulo-loja, .horarios, .localizacao-jardim a, .localizacao-areal a, .compra, .titulo-global-b, .produtos-black, .produtos-black-suplementos, .titulo-global-m, .medicamentos-produtos, .produtos-black-vacina, .agro-produtos, .titulo-global-c, footer, .end, .ian{
    display:flex;
    justify-content:center;
    align-items: center; 
}

/* IMAGEM INICIAL - DIRETOS DE IMAGEM */
.fundo-inicial {
    content: '';
    background-image: url(../imagens/fundos/dogs\ and\ cats.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.titulo-fundo{
    text-align: center;
}
.titulo-fundo img{
    height: 200px;
    width: 700px;
    margin-bottom: 100px;
}

/* MENU DE DIRECIONAMENTO */
.navegacao{
    font-family:'Montserrat';
    gap: 20px;
    height: 50px;
}
.navegacao a{
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-size:20px;
    color:white;
    background-color: #000000a4;
    border-radius: 20px;
    transition:all 1s ease-in-out;
}
.navegacao a:hover {
    color: rgb(0, 183, 255);
    border: 1px solid white;
}


/*DIVISÃO INVISIVEL*/
.container-invisivel{
    display: none;
    justify-content:center;
}
.container-invisivel.abrir{
    display: flex;
}
.invisivel{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    position:fixed;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index:100;
}
.fechar{
    width: 30px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    position: relative;
    top: 5px;
    left: 290px;
}
.fechar:hover{
    color: red;
}
.invisivel-interno{
    height: 300px;
    width: 300px;
    border-radius: 50px;
    background-image: url(../imagens/fundos/LOGO-F-I.jpg);
    background-position: center;
    background-size:center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.invisivel-interno p{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* BOTÕES DE PROSSEGUIMENTOS*/
.direcionamento{
    border: 1px solid white;
    background-color: rgb(0, 183, 255);
    margin: 15px;
    width: 150px;
    border-radius: 15px;
}.direcionamento:hover{
    background-image:linear-gradient(to top left,rgb(0, 183, 255), rgb(0, 183, 255), rgb(232,162,11),rgb(0, 183, 255), rgb(0, 183, 255));
    background-size: 300% 100%;
    animation: animation 1s;
}
.direcionamento a{
    text-decoration: none;
    color: white;
    padding: 10px;
}


/* PRODUTOS EM PROMOÇÃO*/
.container-light-promocao {
    width: 1000px;
    background-color:rgba(221, 221, 221, 0.521);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 50vh;
    backdrop-filter: blur(10px);
}
.titulo-global-pp {
    font-family:'Trebuchet MS', sans-serif;
    color: rgb(58, 55, 55);
    padding-top: 40px;
    margin-bottom: 60px;
    font-size: 20px;
}
.titulo-global-pp h2{
    padding: 0px;
    border-bottom: 2px solid rgb(12,183,255);
    padding-bottom: 10px; 
}
.promocoes-produtos{
    padding-bottom:40px;
}
.promocoes-produtos a {
    text-decoration: none;
    color: rgb(61, 61, 61);
}
.promocoes-interno{
    width: 250px;
    text-align: center;
    border-right: 2px solid rgb(12,183,255);
}
.promocoes-interno:last-child{
    border-right: none;
}
.promocoes-interno h3{
    color: rgb(61, 61, 61);
    font-family:'Trebuchet MS', sans-serif;
    padding: 1px 0px;
    margin-bottom: 20px;
}
.promocoes-interno img{
    height: 200px;
    width: 150px;
    border-radius: 30px;
    margin-bottom:10px;
}
.promocoes-interno p{
    font-family: 'Montserrat';
    color: #333;
}


/* SOBRE NÓS */
.container-black-sobre-nos{
    flex-direction: column;
    width: 1000px;
    background-color:rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(20px);
    height: 50vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 20px;
}
.about {
    color: rgb(221,221,221);
    padding: 10px 0px;
}
.about h2{
    font-family:'Trebuchet MS', sans-serif;
    margin-bottom:50px;
    text-align: center;
    text-decoration: underline rgb(12,183,255);
}
.sobre-nos{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px 50px 0px 50px;
    font-size: 20px;
    font-family:'Trebuchet MS', sans-serif;
}


/* LOJAS */
.container-light-lojas, .container-light-medicamentos, .container-light-agro{
    width: 100vw;
    height: 100vh;
    background-color:rgba(221, 221, 221, 0.568);
    border-radius: 10%;
    backdrop-filter: blur(10px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo-global-loja{
    color: rgb(58, 55, 55);
    padding-top: 100px;
    padding-bottom:100px ;
    font-size: 20px;
}
.titulo-global-loja h2{
    padding: 0px;
    border-bottom: 3px solid rgb(12,183,255);
}
.lojas{
    gap: 200px;
}
.loja-i-a{
    padding: 10px;
    text-align: center;
}
.titulo {
    font-size:25px;
}
.barra-loja{
    height: 5px;
    width: 150px;
    background-image:linear-gradient(to left, rgb(47, 0, 255), rgb(0, 102, 255), rgb(0, 102, 255), rgb(0, 174, 255), rgb(0, 204, 255) );
    background-size: 300% 100%;
    animation: degrade 20s infinite alternate;
    margin-bottom: 50px;
}
.endereco-imperial p{
    border-left: 5px solid rgb(209, 124, 96);
    margin-right: 250px;
    text-align:start;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px;
}
.endereco-areal p{
    border-right: 5px solid rgb(209, 124, 96);
    margin-left: 250px;
    text-align:end;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px;
}
.dias{
    font-size: 30px;
    color: white;     
}
.horarios{
    font-size: 15px;
    margin-top: 100px;
    gap: 25px;
    height: 70px;
    width: 500px;
    background-color:rgba(0, 0, 0, 0.103);
    border-radius: 50px;
}
.localizacao-jardim a{
    text-decoration: none;
    color: black;
    height: 40px;
    gap: 10px;
    width: 200px;
    border-radius:10px ;
    margin-top: 20px;
    background-color: #00000057;
}
.localizacao-jardim a:hover{
    background-color: #0000002f;
}
.localizacao-areal a{
    text-decoration: none;
    color: black;
    height: 40px;
    gap: 10px;
    width: 200px;
    border-radius:10px ;
    margin-top: 20px;
    background-color: #00000057;
    margin-left: 300px;
}
.localizacao-areal a:hover{
    background-color: #0000002f;
}


/* BOTÃO DE SAIBA MAIS */
.compra{
    margin-top: 20px;
}
.compra p {
    padding: 10px 20px;
    background-color: rgb(66,179,229);
    color: white;
    border-radius: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    cursor: pointer;
    background-image:linear-gradient(to right,rgb(0, 183, 255), rgb(0, 183, 255), rgb(255, 255, 255),rgb(0, 183, 255), rgb(0, 183, 255));
    background-size: 300% 100%;
    animation: animation 5s infinite;
}
.compra p:hover {
    color: black;
    padding: 11px 21px;
}


/* RAÇÕES */
.container-black-racoes, .container-black-suplementos, .container-black-medicamentos, .container-black-vacinas{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.877);
    height:100vh;
    backdrop-filter: blur(20px);
    border-radius: 10%;
}
.titulo-global-b {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(221,221,221);
    padding-top: 100px;
    font-size: 20px;
}
.titulo-global-b h2{
    padding: 10px 0px;
    border-bottom: 2px solid rgb(12,183,255);
    margin-bottom:100px;
    text-align: center;
}
.produto{
    width: 400px;
    text-align: center;
    border-right: 2px solid white;
    color: white;
    font-family:'Trebuchet MS', sans-serif;
}
.produto:last-child {
    border-right: none;
}
.produto h3 {
    padding: 1px 0px;
    margin-bottom: 40px;
    font-size: 20px;
}
.produto img {
    height: 300px;
    border-radius: 20px;
}
.produto p {
    font-size: 18px;
    padding: 10px;
    margin-bottom:10px;
}


/* MEDICAMENTOS */
.titulo-global-m {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 100px;
    font-size: 20px;
}
.titulo-global-m h2{
    padding: 10px 0px;
    border-bottom: 2px solid rgb(12,183,255);
    margin-bottom:100px;
    text-align: center;
}
.medicamentos {
    width: 400px;
    text-align: center;
    border-right: 2px solid rgb(12,183,255);
    color: rgb(61, 61, 61);
    font-family:'Trebuchet MS', sans-serif;
}
.medicamentos:last-child {
    border-right: none;
}
.medicamentos h3 {
    padding: 1px 0px;
    margin-bottom: 40px;
    font-size: 20px;
}
.medicamentos img {
    height: 250px;
    border-radius: 20px;
}
.medicamentos p {
    font-size: 18px;
    padding: 10px;
}
.bula {
    margin-top: 10px;
}
.bula a{
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    background-color:rgb(49,86,163);
    border-radius: 20px;
}
.bula a:hover{
    color: rgba(0, 0, 0, 0.877);
}

/*SUPLEMENTOS*/
.suplementos{
    width: 400px;
    text-align: center;
    border-right: 2px solid white;
    color: white;
    font-family:'Trebuchet MS', sans-serif;
}
.suplementos:last-child {
    border-right: none;
}
.suplementos h3 {
    padding: 1px 0px;
    margin-bottom: 40px;
    font-size: 20px;
}
.suplementos img {
    height: 300px;
    border-radius: 20px;
}
.suplementos p {
    font-size: 18px;
    padding: 10px;
    margin-bottom:10px;
}


/* AGROPECUÁRIA */
.titulo-global-c{
    padding: 10px 0px;
    margin-bottom:65px;
    padding-top: 150px;
    font-size: 20px;
}
.titulo-global-c h2{
    text-align: center;
    border-bottom: 2px solid rgb(12,183,255);
}
.agro {
    width: 500px;
    text-align: center;
    border-right: 2px solid rgb(12,183,255);
    color: rgb(61, 61, 61);
    font-family:'Trebuchet MS', sans-serif;
}
.agro:last-child {
    border-right: none;
}
.agro h3 {
    padding: 1px 0px;
    margin-bottom: 60px;
}
.agro img {
    height: 300px;
    border-radius: 30px;   
}
.equinos {
    width:300px;    
}
.agro p {
    font-size: 18px;
    padding: 20px;
}


/* VACINAS */
.vacina {
    width: 400px;
    text-align: center;
    border-right: 2px solid white;
    color: white;
    font-family:'Trebuchet MS', sans-serif;
}
.vacina:last-child {
    border-right: none;
}
.vacina h3 {
    padding: 1px 0px;
    margin-bottom: 20px;
}
.vacina img {
    height: 250px;
    border-radius: 30px;
    width: 300px;
}
.vacina p {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}


/* RODAPÉ */
footer {
    height: 200px;
    background-image: linear-gradient(  rgb(12,183,255), rgb(66,179,229));
}
.border{ 
    height: 100px;
    width: 2px;
    background-color: white;
}
.end {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:17px ;
    gap: 30px;
}
.end img {
    height: 50px;
    width:200px;
    margin-left: 20px;
}
.ian {
    font-family:cursive;
    font-size: 13px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 150px;
    right: 10px;
}

@keyframes animation {
    0%{
        background-position-x:0% ;
    }
    100%{
        background-position-x:100% ;
    }
}
@keyframes degrade {
    0%{
        background-position-x:0% ;
    }
    100%{
        background-position-x:100% ;
    }
}
