@media screen and (min-width: 450px) and (max-width:725px) {
    /* LOGO */
    .logo {
        height: 120px;
        width: 120px;
        border-radius: 100px;
    }
    .logo img {
        border-radius: 200px;
    }

    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 120px;
    }
    .navegacao{
        display: none;
    } 

    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height:390px;
    }
    .fundo-inicial img {
        height:390px;
    }
    .titulo-fundo{
        left: 250px;
    }
    .titulo-fundo img{
        height: 70px;
        width: 200px;
    }

    .container-black-racoes, .container-black-suplementos, .container-black-medicamentos, .container-black-vacinas{
        height:100%;
        padding-bottom: 10px;
    }
    .container-light-lojas, .container-light-medicamentos, .container-light-agro, .container-light-promocao{
        height: 100%;
        padding-bottom: 20px;
    }
    
    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 15px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .promocoes-produtos{
        flex-wrap: wrap;
    }
    .promocoes-interno{
        width: 200px;
        border: 0;
    }
    .promocoes-interno h3{
        margin-top: 15px;
        margin-bottom: 2px;
        padding: 0;
    }
    .promocoes-interno img{
        height: 135px;
        width: 115px;
        border-radius: 20px;
        margin-bottom: 0;
    }


    /* LOJAS */
    .lojas{
        gap: 0px;
        display: block;
    }
    .loja-i-a{
        padding:10px;
        text-align: center;
    }
    .titulo-global-loja {
        padding: 20px;
        margin: 20px;
        font-size: 15px;
    }
    .titulo {
        font-size:20px;
    }
    .endereco-imperial p, .endereco-areal p{
        margin-right: 0px;
        text-align:start;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .endereco-areal p{
        margin-left: 0px;
        text-align:end;
    }
    .control{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .horarios{
        font-size: 12px;
        margin-top:10px;
        gap: 15px;
        height: 45px;
        width: 400px;
        border-radius: 5px;
    }
    .localizacao-jardim a, .localizacao-areal a{
        height: 30px;
        gap: 15px;
        width: 150px;
        margin-top: 20px;
        margin-left: 124px;
        margin-bottom: 50px;
    }

    /* CONTAINERS BLACK */
    .titulo-global-b {
        padding-top: 20px;
        font-size: 15px;
    }
    .titulo-global-b h2{
        padding: 10px 0px;
        margin-bottom:50px;
    }
    .produtos-black{
        flex-wrap: wrap; 
        gap: 10px;
    }
    .produto{
        width: 190px;
        height: 100%;
        margin-bottom: 30px;
        border: 0;
        margin: 0px 20px;
    }
    .produto img {
        height: 150px;
        border-radius: 20px;
    }
    .produto h3 {
        padding: 1px 0px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .produto p {
        font-size: 18px;
        padding: 5px;
        margin-bottom:10px;
    }


    /* MEDICAMENTOS */
    .titulo-global-m {
        padding-top: 20px;
        font-size: 15px;
    }
    .titulo-global-m h2{
        padding: 10px 0px;
        margin-bottom:25px;
    }
    .medicamentos-produtos{
        flex-wrap: wrap;
        gap: 10px;
    }
    .medicamentos {
        width: 230px;
        height:100%;
        border: 0;
    }
    .medicamentos h3 {
        margin-bottom: 15px;
    }
    .medicamentos img {
        height: 140px;
    }
    .medicamentos p {
        font-size: 16px;
        padding: 6px;
    }
    .bula {
        margin-top: 7px;
        padding-bottom: 7px;
    }
    

    /* AGROPECUÁRIA */
    .titulo-global-c{
        margin-bottom:20px;
        padding-top: 50px;
        font-size: 15px;
    }
    .agro-produtos {
        flex-wrap: wrap;
    }
    .agro {
        width: 350px;
        margin: 0px 20px;
        margin-bottom: 10px;
        border: none;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 10px;
    }
    .agro img {
        height: 150px;
    }
    .equinos {
        width:150px;
    }
    .agro p {
        font-size: 18px;
        padding: 0px;
        margin-bottom: 20px;
    }

    /* VACINAS */
    .vacina {
        width: 230px;
        height: 330px;
        margin-bottom: 20px;
        border: none;
    }
    .vacina h3 {
        padding: 1px 0px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .vacina img {
        height: 150px;
        border-radius: 30px;
        width: 150px;
    }
    .vacina p {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 726px) and (max-width:1050px) {
       /* LOGO */
       .logo {
        display: none;
    }

    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 150px;
    }
    .navegacao{
        padding:5px;
    }
    .navegacao a div{
        font-size: 18px;
        padding: 15px 20px;
    }
    .navegacao a div:hover { 
        padding:15px 20px;
    }

    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 90vh;
    }
    .fundo-inicial img {
        height: 90vh;
    }
    .titulo-fundo{
        right:10px;
    }
    .titulo-fundo img{
        height: 120px;
        width: 330px;
    }
    
    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 18px;
    }
    .promocoes-interno{
        width: 200px;
        height: 100%;
    }
    .promocoes-interno img{
        height: 190px;
        width: 140px;
        margin-bottom:15px;
    }

    .container-black-racoes, .container-black-suplementos, .container-black-medicamentos, .container-black-vacinas{
        height:100%;
        padding-bottom: 10px;
    }
    .container-light-lojas, .container-light-medicamentos, .container-light-agro, .container-light-promocao{
        height: 100%;
        padding-bottom: 20px;
    }

    /* LOJAS */
    .lojas{
        gap: 0px;
    }
    .container-light-lojas{
        height: 100%;
    }
    .loja-i-a{
        padding:10px;
        text-align: center;
        width: 380px;
        height: 565px;
    }
    .titulo {
        font-size:20px;
    }
    .endereco-imperial p, .endereco-areal p{
        margin-right: 0px;
        text-align:start;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 5px;
    }
    .endereco-areal p{
        margin-left: 0px;
        text-align:end;
    }
    .horarios{
        font-size: 12px;
        margin-top: 100px;
        gap:8px;
        height: 70px;
        width: 355px;
    }
    .localizacao-jardim a, .localizacao-areal a{
        height: 40px;
        gap: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .localizacao-areal a{
        margin-left: 202px;
    }

    /* CONTAINERS BLACK */ 
    .titulo-global-b {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-b h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .produto{
        width: 187px;
        height: 390px;
        margin-bottom: 50px;
    }
    .produto img {
        height: 170px;
    }

    /* MEDICAMENTOS */
    .titulo-global-m {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-m h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .medicamentos {
        width: 187px;
        height: 440px;
    }
    .medicamentos h3 {
        margin-bottom: 20px;
    }
    .medicamentos img {
        height: 155px;
    }
    .medicamentos p {
        font-size: 17px;
        padding: 7px;
    }
    .bula {
        margin-top: 7px;
    }
    
    /* AGROPECUÁRIA */
    .titulo-global-c{
        margin-bottom:85px;
        padding-top: 150px;
        font-size: 18px;
    }
    .agro {
        width: 250px;
        margin-bottom: 25px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 60px;
    }
    .agro img {
        height: 155px;   
    }
    .equinos {
        width:200px;
    }


    /* VACINAS */
    .vacina {
        width: 187px;
        height: 440px;
        margin-bottom: 30px;
    }
    .vacina h3 {
        padding: 1px 0px;
        margin-bottom: 20px;
    }
    .vacina img {
        height: 170px;
        width: 170px;
    }
    .vacina p {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1051px) and (max-width: 1400px) {
    
    /* LOGO */
    .logo {
        height: 90px;
        width: 140px;
    }

    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 100px;
    }
    .navegacao{
        padding:6px;
    }
    .navegacao a div{
        font-size: 16px;
        padding: 12px 29px;
    }
    .navegacao a div:hover { 
        padding: 12px 29px;
    }

    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 100%;
    }
    .fundo-inicial img {
        height: 100%;
    }
    .titulo-fundo{
        right:50px
    }
    .titulo-fundo img{
        height: 140px;
        width: 390px;
    }

    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 18px;
    }

    .container-black-racoes, .container-black-suplementos, .container-black-medicamentos, .container-black-vacinas{
        height:100%;
        padding-bottom: 10px;
    }
    .container-light-lojas, .container-light-medicamentos, .container-light-agro{
        height: 100%;
        padding-bottom: 20px;
    }

    /* LOJAS */
    .titulo-global-loja{
        padding-top: 90px;
        padding-bottom:90px ;
        font-size: 18px;
    }
    .lojas{
        gap: 0px;
    }
    .loja-i-a{
        padding: 10px;
        width: 470px;
        height: 565px;
    }
    .titulo {
        font-size:23px;
    }
    .endereco-imperial p, .endereco-areal p{
        margin-right: 0px;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 10px;
    }
    .horarios{
        gap: 15px;
        height: 65px;
        width: 450px;
    }
    .localizacao-jardim a, .localizacao-areal a {
        height: 40px;
        gap: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .localizacao-areal a{
        margin-left: 300px;
    }

    /* BOTÃO DE SAIBA MAIS */
    .compra{
        margin-top: 20px;
    }
    .compra p {
        padding: 10px 20px;
        margin-top: 50px;
    }
    .compra p:hover {
        color: black;
        padding: 11px 21px;
    }

    /* CONTAINERS BLACK */
    .titulo-global-b {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-b h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .produto{
        width: 300px;
        margin-bottom: 50px;
    }
    .produto img {
        height: 220px;
    }

    /* MEDICAMENTOS */
    .titulo-global-m {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-m h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .medicamentos {
        width: 300px;
    }
    .medicamentos img {
        height: 220px;
    }

    /* AGROPECUÁRIA */
    .titulo-global-c{
        margin-bottom:85px;
        padding-top: 150px;
        font-size: 18px;
    }
    .agro {
        width: 400px;
        margin-bottom: 25px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 60px;
    }
    .agro img {
        height: 220px;
        border-radius: 30px;   
    }
    .equinos {
        width:220px;    
    }

    /* VACINAS */
    .vacina {
        width: 400px;
        height: 420px;
        margin-bottom: 30px;
    }
    .vacina h3 {
        padding: 1px 0px;
        margin-bottom: 20px;
    }
    .vacina img {
        height: 200px;
        border-radius: 30px;
        width: 200px;
    }
    .vacina p {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1401px) and (max-width:1700px) {
        /* LOGO */
    .logo {
        height: 100px;
        width: 180px;
    }

    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 100px;
    }
    .navegacao{
        padding:6px;
    }
    .navegacao a div{
        font-size: 16px;
        padding: 15px 32px;
    }
    .navegacao a div:hover {
        padding: 15px 32px;
    }


    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 90vh;
    }
    .fundo-inicial img {
        height: 90vh;
    }
    .titulo-fundo{
        right:150px
    }
    .titulo-fundo img{
        height: 140px;
        width: 400px;
    }
    .container-black-racoes, .container-black-suplementos, .container-black-medicamentos, .container-black-vacinas{
        height:100%;
        padding-bottom: 10px;
    }
    .container-light-lojas, .container-light-medicamentos, .container-light-agro{
        height: 100%;
        padding-bottom: 20px;
    }
}
