@media screen and (min-width: 350px) and (max-width:450px) {
    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 100dvh;
    }
    .titulo-fundo img {
        height: 90px;
        width: 340px;
        margin-bottom: 100px;
    }
    .navegacao {
        gap: 20px;
        height: 50px;
        flex-wrap: wrap;
    }

    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 14px;
    }
    .container-light-promocao{
        width: 100%;
        max-height: 100%;
    }
    .promocoes-produtos {
        width: 98%;
        overflow-x: scroll;
        margin-left: 10px;
        padding: 0px 20px 0px 290px;
    }
    .promocoes-interno {
        width: 200px;
        height: 100%;
        padding: 10px;
    }
    .promocoes-interno img {
        height: 150px;
        width: 140px;
    }
    .about h2{
        font-size:25px;
        margin-bottom:25px;
    }
    .sobre-nos{
        padding: 0px 20px 0px 20px;
        font-size: 18px;
    }

    /* LOJAS */
    .lojas {
        gap: 0px;
        display: block;
    }
    .titulo-global-loja{
        padding-top: 25px;
        padding-bottom:25px ;
        font-size: 16px;
    }
    .container-light-lojas {
        height: 1160px;
    }
    .loja-i-a {
        padding: 10px;
        text-align: center;
        width: 350px;
        height: 560px;
    }
    .titulo {
        font-size: 20px;
    }
    .endereco-imperial p,
    .endereco-areal p {
        margin-right: 0px;
        font-size: 14px;
        margin-bottom: 16px;
        padding: 5px;
    }
    .endereco-areal p{
        margin-left: 0px;
    }
    .horarios {
        font-size: 10px;
        margin-top: 100px;
        gap: 8px;
        height: 70px;
        width: 320px;
    }
    .localizacao-jardim a,
    .localizacao-areal a {
        height: 40px;
        gap: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .localizacao-areal a {
        margin-left: 170px;
    }

    /* CONTAINERS BLACK */
    .container-black-racoes{
        height: 750px;
    }
    .titulo-global-b {
        padding-top: 50px;
        font-size: 15px;
    }
    .titulo-global-b h2{
        margin-bottom:100px;
    }
    .produtos-black{
        overflow-x: scroll;
        padding-left: 280px;
    }
    .produto{
        padding: 10px;
    }
    .produto img {
        height: 210px;
        width: 140px;
    }
    .produto p {
        font-size: 14px;
        padding: 4px;
        margin-bottom:5px;
    }
    

    /* MEDICAMENTOS */
    .medicamentos-produtos{
        overflow-x: scroll;
        padding-left: 330px;
    }
    .container-light-medicamentos{
        height: 770px;
    }
    .titulo-global-m{
        font-size: 15px;
        padding-top: 50px;
    }
    .titulo-global-m h2{
        margin-bottom: 50px;
    }
    .medicamentos {
        width: 190px;
        height: 450px;
        margin-bottom: 0px;
        padding: 5px;
    }
    .medicamentos h3 {
        font-size: 18px;
        padding: 7px;
    }
    .medicamentos img {
        height: 160px;
    }
    .medicamentos p {
        font-size: 13px;
        padding: 7px;
    }
    .bula {
        margin-top: 7px;
    }

    /*SUPLEMENTOS*/
    .container-black-suplementos{
        height: 700px;
    }
    .produtos-black-suplementos{
        overflow-x: scroll;
        padding-left:285px;
    }
    .suplementos{
        width: 200px;
        height: 350px;
        padding: 5px;
        margin-bottom: 0px;
    }
    .suplementos img {
        height: 150px;
    }
    .suplementos p {
        font-size: 17px;
        padding: 7px;;
    }

    /* AGROPECUÁRIA */
    .container-light-agro{
        height: 700px;
    }
    .titulo-global-c{
        padding-top: 50px;
        font-size: 15px;
    }
    .agro-produtos{
        overflow-x: scroll;
        padding-left: 270px;
    }
    .agro {
        width: 250px;
        height: 350px;
        margin-bottom: 25px;
        padding: 5px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 50px;
    }
    .agro img {
        height: 150px;
    }
    .equinos {
        width: 150px;
    }


    /* VACINAS */
    .container-black-vacinas{
        height: 820px;
    }
    .produtos-black-vacina{
        overflow-x: scroll;
        padding-left: 250px;
    }
    .vacina {
        width: 200px;
        height: 450px;
        margin-bottom: 30px;
        padding: 5px;
    }
    .vacina img {
        height: 140px;
        width: 140px;
    }
    .vacina p {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 10px;
    }

    /* RODAPÉ */
    .end {
        font-size: 10px;
        gap: 10px;
    }
    .end img {
        height: 25px;
        width:100px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 451px) and (max-width:550px) {
    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 100dvh;
    }
    .titulo-fundo img {
        height: 120px;
        width: 390px;
        margin-bottom: 100px;
    }
    .navegacao {
        gap: 20px;
        height: 50px;
        flex-wrap: wrap;
    }

    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 18px;
    }
    .container-light-promocao {
        width: 100%;
    }
    .promocoes-produtos {
        width: 98%;
        overflow-x: scroll;
        margin-left: 10px;
        padding: 0px 20px 0px 200px;
    }
    .promocoes-interno {
        width: 200px;
        height: 100%;
        padding: 10px;
    }
    .promocoes-interno img {
        height: 190px;
        width: 150px;
    }

    /* LOJAS */
    .lojas {
        gap: 0px;
        display: block;
        margin-left: 30px;
    }
    .container-light-lojas {
        height: 100%;
    }
    .titulo-global-loja{
        padding-top: 50px;
        padding-bottom:50px ;
        font-size: 18px;
    }
    .loja-i-a {
        padding: 10px;
        text-align: center;
        width: 380px;
        height: 575px;
    }
    .titulo {
        font-size: 20px;
    }
    .endereco-imperial p,
    .endereco-areal p {
        margin-right: 0px;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 5px;
    }
    .horarios {
        font-size: 12px;
        margin-top: 100px;
        gap: 8px;
        height: 70px;
        width: 355px;
    }
    .localizacao-jardim a,
    .localizacao-areal a {
        height: 40px;
        gap: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .localizacao-areal a {
        margin-left: 202px;
    }

    /* CONTAINERS BLACK */
    .container-black-racoes{
        height:740px;
    }
    .produtos-black{
        overflow-x: scroll;
        padding-left: 170px;
    }
    .produto{
        padding: 10px;
    }
    .produto img {
        height: 210px;
        width: 140px;
    }
    .produto p {
        font-size: 14px;
        padding: 4px;
        margin-bottom:5px;
    }
    

    /* MEDICAMENTOS */
    .container-light-medicamentos{
        height: 870px;
    }
    .medicamentos-produtos{
        overflow-x: scroll;
        padding-left: 230px;
    }
    .medicamentos {
        width: 190px;
        height: 450px;
        margin-bottom: 0px;
        padding: 5px;
    }
    .medicamentos h3 {
        font-size: 18px;
        padding: 7px;
    }
    .medicamentos img {
        height: 160px;
    }
    .medicamentos p {
        font-size: 13px;
        padding: 7px;
    }
    .bula {
        margin-top: 7px;
    }

    /*SUPLEMENTOS*/
    .container-black-suplementos{
        height: 750px;
    }
    .produtos-black-suplementos{
        overflow-x: scroll;
        padding-left:145px;
    }
    .suplementos{
        width: 200px;
        height: 350px;
        padding: 5px;
        margin-bottom: 0px;
    }
    .suplementos img {
        height: 150px;
    }
    .suplementos p {
        font-size: 17px;
        padding: 7px;;
    }

    /* AGROPECUÁRIA */
    .container-light-agro{
        height: 800px;
    }
    .agro-produtos{
        overflow-x: scroll;
        padding-left: 205px;
    }
    .agro {
        width: 250px;
        height: 350px;
        margin-bottom: 25px;
        padding: 5px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 50px;
    }
    .agro img {
        height: 150px;
    }
    .equinos {
        width: 150px;
    }


    /* VACINAS */
    .container-black-vacinas{
        height: 830px;
    }
    .titulo-global-b{
        padding-top: 50px;
    }
    .produtos-black-vacina{
        overflow-x: scroll;
        padding-left: 150px;
    }
    .vacina {
        width: 200px;
        height: 450px;
        margin-bottom: 30px;
        padding: 5px;
    }
    .vacina img {
        height: 140px;
        width: 140px;
    }
    .vacina p {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 551px) and (max-width:750px) {
    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 100vh;
    }
    .titulo-fundo img {
        height: 150px;
        width: 500px;
        margin-bottom: 100px;
    }
    .navegacao {
        font-family: 'Montserrat';
        gap: 20px;
        height: 50px;
        flex-wrap: wrap;
    }

    /* PRODUTOS EM PROMOÇÃO*/
    .promocoes-produtos {
        width: 100%;
    }
    .titulo-global-pp {
        font-size: 18px;
    }
    .promocoes-interno {
        width: 130px;
        height: 100%;
    }
    .promocoes-interno img {
        height: 160px;
        width: 110px;
    }

    /* LOJAS */
    .lojas {
        gap: 0px;
    }
    .container-light-lojas {
        height: 100%;
    }
    .loja-i-a {
        padding: 5px;
        text-align: center;
        width: 260px;
        height: 100%;
    }
    .titulo {
        font-size: 17px;
    }
    .endereco-imperial p,
    .endereco-areal p {
        margin-right: 0px;
        font-size: 13px;
        margin-bottom: 16px;
        padding: 5px;
    }
    .endereco-areal p {
        margin-left: 0px;
    }

    .horarios {
        font-size: 9px;
        margin-top: 100px;
        gap: 1px;
        height: 65px;
        width: 260px;
    }
    .localizacao-jardim a,
    .localizacao-areal a {
        height: 40px;
        gap: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .localizacao-areal a {
        margin-left: 100px;
    }

    /* CONTAINERS BLACK */
    .produto {
        width: 250px;
        height: 380px;
        margin-bottom: 30px;
    }
    .produto img {
        height: 130px;
    }

    /* MEDICAMENTOS */
    .medicamentos {
        width: 150px;
        height: 450px;
        margin-bottom: 0px;
    }
    .medicamentos img {
        height: 130px;
    }
    .medicamentos p {
        font-size: 17px;
        padding: 7px;
    }
    .bula {
        margin-top: 7px;
    }

    /*SUPLEMENTOS*/
    .suplementos{
        width: 150px;
        height: 400px;
        margin-bottom: 0px;
    }
    .suplementos img {
        height: 130px;
    }
    .suplementos p {
        font-size: 17px;
        padding: 7px;;
    }

    /* AGROPECUÁRIA */
    .agro {
        width: 280px;
        height: 350px;
        margin-bottom: 25px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 50px;
    }
    .agro img {
        height: 120px;
    }
    .equinos {
        width: 150px;
    }

    /* VACINAS */
    .vacina {
        width: 150px;
        height: 400px;
        margin-bottom: 30px;
    }
    .vacina img {
        height: 140px;
        width: 120px;
    }
    .vacina p {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 751px) and (max-width:1050px) {
    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 100vh;
    }
    .titulo-fundo img {
        height: 150px;
        width: 500px;
        margin-bottom: 100px;
    }
    .navegacao {
        font-family: 'Montserrat';
        gap: 20px;
        height: 50px;
        flex-wrap: wrap;
    }

    /* PRODUTOS EM PROMOÇÃO*/
    .container-light-promocao, .container-black-sobre-nos, .container-black-racoes, .container-light-medicamentos, .container-black-suplementos, .container-light-agro, .container-black-vacinas{
        height: 100%;
    }
    .titulo-global-pp {
        font-size: 18px;
    }
    .promocoes-interno {
        width: 170px;
        height: 100%;
    }
    .promocoes-interno img {
        height: 190px;
        width: 140px;
    }

    /* LOJAS */
    .lojas {
        gap: 0px;
    }
    .container-light-lojas {
        height: 100%;
    }
    .loja-i-a {
        padding: 10px;
        text-align: center;
        width: 380px;
        height: 565px;
    }
    .titulo {
        font-size: 20px;
    }
    .endereco-imperial p,
    .endereco-areal p {
        margin-right: 0px;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 5px;
    }
    .endereco-areal p {
        margin-left: 0px;
    }
    .horarios {
        font-size: 12px;
        margin-top: 100px;
        gap: 8px;
        height: 70px;
        width: 355px;
    }
    .localizacao-jardim a,
    .localizacao-areal a {
        height: 40px;
        gap: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .localizacao-areal a {
        margin-left: 202px;
    }

    /* CONTAINERS BLACK */
    .produto {
        width: 250px;
        height: 380px;
        margin-bottom: 30px;
    }
    .produto img {
        height: 180px;
    }

    /* MEDICAMENTOS */
    .medicamentos {
        width: 200px;
        height: 450px;
        margin-bottom: 0px;
    }
    .medicamentos img {
        height: 140px;
    }
    .medicamentos p {
        font-size: 17px;
        padding: 7px;
    }
    .bula {
        margin-top: 7px;
    }
    
    /*SUPLEMENTOS*/
    .suplementos{
        width: 200px;
        height: 400px;
        margin-bottom: 0px;
    }
    .suplementos img {
        height: 160px;
    }
    .suplementos p {
        font-size: 17px;
        padding: 7px;;
    }

    /* AGROPECUÁRIA */
    .agro {
        width: 350px;
        height: 350px;
        margin-bottom: 25px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 50px;
    }
    .agro img {
        height: 150px;
    }
    .equinos {
        width: 200px;
    }


    /* VACINAS */
    .vacina {
        width: 250px;
        height: 400px;
        margin-bottom: 30px;
    }
    .vacina img {
        height: 170px;
        width: 170px;
    }
    .vacina p {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1051px) and (max-width: 1500px) {
    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 100vh;
    }
    .titulo-fundo img {
        height: 150px;
        width: 500px;
        margin-bottom: 100px;
    }

    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 18px;
    }
    .promocoes-interno {
        width: 200px;
        height: 100%;
    }
    .promocoes-interno img {
        height: 190px;
        width: 140px;
    }

    /* LOJAS */
    .lojas {
        gap: 0px;
    }
    .container-light-lojas {
        height: 100%;
    }
    .loja-i-a {
        padding: 10px;
        text-align: center;
        width: 380px;
        height: 565px;
    }
    .titulo {
        font-size: 20px;
    }
    .endereco-imperial p,
    .endereco-areal p {
        margin-right: 0px;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 5px;
    }
    .endereco-areal p {
        margin-left: 0px;
    }
    .horarios {
        font-size: 12px;
        margin-top: 100px;
        gap: 8px;
        height: 70px;
        width: 355px;
    }
    .localizacao-jardim a,
    .localizacao-areal a {
        height: 40px;
        gap: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .localizacao-areal a {
        margin-left: 202px;
    }

    /* CONTAINERS BLACK */
    .produto {
        width: 250px;
        height: 380px;
        margin-bottom: 30px;
    }
    .produto img {
        height: 200px;
    }

    /* MEDICAMENTOS */
    .medicamentos {
        width: 250px;
        height: 450px;
        margin-bottom: 0px;
    }
    .medicamentos img {
        height: 200px;
    }
    .medicamentos p {
        font-size: 17px;
        padding: 7px;
    }
    .bula {
        margin-top: 7px;
    }

    /*SUPLEMENTOS*/
    .suplementos{
        width: 250px;
        height: 400px;
        margin-bottom: 0px;
    }
    .suplementos img {
        height: 200px;
    }
    .suplementos p {
        font-size: 17px;
        padding: 7px;;
    }


    /* AGROPECUÁRIA */
    .agro {
        width: 450px;
        height: 350px;
        margin-bottom: 25px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 50px;
    }
    .agro img {
        height: 200px;
    }
    .equinos {
        width: 200px;
    }


    /* VACINAS */
    .vacina {
        width: 250px;
        height: 400px;
        margin-bottom: 30px;
    }
    .vacina img {
        height: 170px;
        width: 170px;
    }
    .vacina p {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }
}
