@media screen and (min-width: 450px) and (max-width:725px) {
    /* LOGO */
    .logo {
        height: 100px;
        width: 100px;
        filter: drop-shadow(5px 5px 5px #0000fdcb);
    }


    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 110px;
    }
    .navegacao{
        padding:3px;
        display: none;
        position: fixed;
        top: 65px;
        right:40px;
    }
    .navegacao a div{
        font-size: 15px;
        padding: 12px 12px; 
        border: none;
    }
    .navegacao a div:hover { 
        padding:12px 12px;
    }

    .menu-secudario{
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 50px;
    }
    .menu-secudario img{
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    .x {
        display: none;
        height: 30px;
        width: 30px;
        position: absolute;
        right: 50px;
    }
    .x img{
        height: 20px;
        margin-top: 3px;
        
    }


    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 90vh;
    }
    .fundo-inicial img {
        height: 90vh;
    }
    .titulo-fundo{
        right:15px;
        bottom: 200px;
    }
    .titulo-fundo img{
        height: 70px;
        width: 200px;
    }
    .titulo-fundo1{
        bottom:5px;
        right: 10px;
    }
    .instagram img{
        height: 20px;
        width: 20px;

    }


    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 15px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .container-light-promocao {
        width: 100%;   
    }
    .promocoes-produtos{
        flex-wrap: wrap;
    }
    .promocoes-interno{
        width: 200px;
        border: 0;
    }
    .promocoes-interno h3{
        margin-top: 15px;
        margin-bottom: 2px;
        padding: 0;
    }
    .promocoes-interno img{
        height: 135px;
        width: 115px;
        border-radius: 20px;
        margin-bottom: 0;
    }


    /* LOJAS */
    .lojas{
        gap: 0px;
        display: block;
    }
    .loja-i-a{
        padding:10px;
        text-align: center;
    }
    .titulo-global-loja {
        padding: 20px;
        margin: 20px;
        font-size: 15px;
    }
    .titulo {
        font-size:20px;
    }
    .endereco-imperial p{
        margin-right: 0px;
        text-align:start;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .endereco-areal p{
        margin-left: 0px;
        text-align:end;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .control{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .horarios{
        font-size: 12px;
        margin-top:10px;
        gap: 15px;
        height: 45px;
        width: 400px;
        border-radius: 5px;
    }

    .localizacao-jardim a{
        height: 30px;
        gap: 15px;
        width: 150px;
        border-radius:10px;
        margin-top: 20px;
        margin-left: 124px;
        margin-bottom: 50px;
    }
    .localizacao-areal a{
        height: 30px;
        gap: 15px;
        width: 150px;
        border-radius:10px;
        margin-top: 20px;
        margin-left: 124px;
        margin-bottom: 50px;
    }


    /* BOTÃO DE SAIBA MAIS */
    .compra{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .compra p {
        padding: 10px 20px;
        background-color: rgb(66,179,229);
        color: white;
        border-radius: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 30px;
        cursor: pointer;
        background-image:linear-gradient(to right,rgb(0, 183, 255), rgb(0, 183, 255), rgb(255, 255, 255),rgb(0, 183, 255), rgb(0, 183, 255));
        background-size: 300% 100%;
        animation: animation 5s infinite;
    }
    .compra p:hover {
        color: black;
        padding: 11px 21px;
    }


    /* CONTAINERS BLACK */
    .titulo-global-b {
        padding-top: 20px;
        font-size: 15px;
    }
    .titulo-global-b h2{
        padding: 10px 0px;
        margin-bottom:50px;
    }
    .produtos-black{
        flex-wrap: wrap; 
        gap: 10px;
        
    }
    .produto{
        width: 190px;
        height: 100%;
        margin-bottom: 30px;
        border: 0;
        border-bottom: 1px solid white;
        margin: 0px 20px;
    }
    .produto img {
        height: 150px;
        border-radius: 20px;
    }
    .produto h3 {
        padding: 1px 0px;
        margin-bottom: 10px;
        font-size: 15px;
        
    }
    .produto p {
        font-size: 18px;
        padding: 5px;
        margin-bottom:10px;
    }


    /* MEDICAMENTOS */
    .titulo-global-m {
        padding-top: 20px;
        font-size: 15px;
    }
    .titulo-global-m h2{
        padding: 10px 0px;
        margin-bottom:25px;
    }
    .medicamentos-produtos{
        flex-wrap: wrap;
        gap: 10px;
    }
    .medicamentos {
        width: 230px;
        height:100%;
        border: 0;
    }
    .medicamentos h3 {
        margin-bottom: 15px;
    }
    .medicamentos img {
        height: 140px;
        border-radius: 20px;
    }
    .medicamentos p {
        font-size: 16px;
        padding: 6px;
    }
    .bula {
        margin-top: 7px;
        padding-bottom: 7px;
    }
    

    /* AGROPECUÁRIA */
    .titulo-global-c{
        margin-bottom:20px;
        padding-top: 50px;
        font-size: 15px;
    }
    .agro-produtos {
        flex-wrap: wrap;
    }
    .agro {
        width: 350px;
        margin: 0px 20px;
        margin-bottom: 10px;
        border: none;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 10px;
    }
    .agro img {
        height: 150px;
        border-radius: 30px;   
    }
    .equinos {
        width:150px;
    }
    .agro p {
        font-size: 18px;
        padding: 0px;
        margin-bottom: 20px;
    }


    /* VACINAS */
    .vacina {
        width: 230px;
        height: 330px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid white;
    }

    .vacina h3 {
        padding: 1px 0px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .vacina img {
        height: 150px;
        border-radius: 30px;
        width: 150px;
    }
    .vacina p {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 726px) and (max-width:1050px) {
       /* LOGO */
       .logo {
        height: 90px;
        width: 120px;
    }


    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 100px;
    }
    .navegacao{
        padding:5px;
    }
    .navegacao a div{
        font-size: 15px;
        padding: 12px 15px;
    }
    .navegacao a div:hover { 
        padding:10px 16px;
    }


    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 90vh;
    }
    .fundo-inicial img {
        height: 90vh;
    }
    .titulo-fundo{
        right:10px;
    }
    .titulo-fundo img{
        height: 120px;
        width: 330px;
    }
    .titulo-fundo1{
        bottom:5px;
        right: 10px;
    }
    .instagram img{
        height: 20px;
        width: 20px;

    }


    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 18px;
    }
    .container-light-promocao {
        width: 100%;
    }
    .promocoes-interno{
        width: 200px;
    }
    .promocoes-interno img{
        height: 190px;
        width: 140px;
        border-radius: 20px;
        margin-bottom:15px;
    }


    /* LOJAS */
    .lojas{
        gap: 0px;
    }
    .loja-i-a{
        padding:10px;
        text-align: center;
        width: 380px;
        height: 565px;
    }
    .titulo {
        font-size:20px;
    }
    .endereco-imperial p{
        margin-right: 0px;
        text-align:start;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 5px;
    }
    .endereco-areal p{
        margin-left: 0px;
        text-align:end;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 5px;
    }

    .horarios{
        font-size: 12px;
        margin-top: 100px;
        gap:8px;
        height: 70px;
        width: 355px;
    }
    .localizacao-jardim a{
        height: 40px;
        gap: 10px;
        width: 150px;
        border-radius:10px ;
        margin-top: 20px;
    }
    .localizacao-areal a{
        height: 40px;
        gap: 10px;
        width: 150px;
        border-radius:10px ;
        margin-top: 20px;
        margin-left: 202px;
    }


    /* BOTÃO DE SAIBA MAIS */
    .compra{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .compra p {
        padding: 10px 20px;
        background-color: rgb(66,179,229);
        color: white;
        border-radius: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 50px;
        cursor: pointer;
        background-image:linear-gradient(to right,rgb(0, 183, 255), rgb(0, 183, 255), rgb(255, 255, 255),rgb(0, 183, 255), rgb(0, 183, 255));
        background-size: 300% 100%;
        animation: animation 5s infinite;
    }
    .compra p:hover {
        color: black;
        padding: 11px 21px;
    }


    /* CONTAINERS BLACK */
    .titulo-global-b {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-b h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .produto{
        width: 187px;
        height: 390px;
        margin-bottom: 50px;
    }
    .produto img {
        height: 170px;
        border-radius: 20px;
    }


    /* MEDICAMENTOS */
    .titulo-global-m {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-m h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .medicamentos {
        width: 187px;
        height: 440px;
    }
    .medicamentos h3 {
        margin-bottom: 20px;
    }
    .medicamentos img {
        height: 155px;
        border-radius: 20px;
    }
    .medicamentos p {
        font-size: 17px;
        padding: 7px;
    }
    .bula {
        margin-top: 7px;
    }
    

    /* AGROPECUÁRIA */
    .titulo-global-c{
        margin-bottom:85px;
        padding-top: 150px;
        font-size: 18px;
    }
    .agro {
        width: 250px;
        margin-bottom: 25px;
    }
    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 60px;
    }
    .agro img {
        height: 155px;
        border-radius: 30px;   
    }
    .equinos {
        width:200px;
    }


    /* VACINAS */
    .vacina {
        width: 187px;
        height: 440px;
        margin-bottom: 30px;
    }

    .vacina h3 {
        padding: 1px 0px;
        margin-bottom: 20px;
    }
    .vacina img {
        height: 170px;
        border-radius: 30px;
        width: 170px;
    }
    .vacina p {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1051px) and (max-width: 1400px) {
    
    /* LOGO */
    .logo {
        height: 90px;
        width: 140px;
    }


    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 100px;
    }
    .navegacao{
        padding:6px;
    }
    .navegacao a div{
        font-size: 16px;
        padding: 12px 29px;
    }
    .navegacao a div:hover { 
        padding: 12px 29px;
    }


    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 90vh;
    }
    .fundo-inicial img {
        height: 90vh;
    }
    .titulo-fundo{
        right:50px
    }
    .titulo-fundo img{
        height: 140px;
        width: 390px;
    }
    .titulo-fundo1{
        bottom:5px;
        right: 10px;
    }
    .instagram img{
        height: 20px;
        width: 20px;

    }


    /* BOTÕES DE PROSSEGUIMENTOS*/
    .direcionamento{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        background-color: rgb(0, 183, 255);
        margin: 15px;
        width: 150px;
        border-radius: 15px;
    }.direcionamento:hover{
        background-image:linear-gradient(to top left,rgb(0, 183, 255), rgb(0, 183, 255), rgb(232,162,11),rgb(0, 183, 255), rgb(0, 183, 255));
        background-size: 300% 100%;
        animation: animation 1s;
    }
    .direcionamento a{
        text-decoration: none;
        color: white;
        padding: 10px;
    }


    /* PRODUTOS EM PROMOÇÃO*/
    .titulo-global-pp {
        font-size: 18px;
    }


    /* LOJAS */
    .titulo-global-loja{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(58, 55, 55);
        padding-top: 90px;
        padding-bottom:90px ;
        font-size: 18px;
    }
    .lojas{
        gap: 0px;
    }
    .loja-i-a{
        padding: 10px;
        text-align: center;
        width: 470px;
        height: 565px;
    }

    .titulo {
        font-size:23px;
    }

    .endereco-imperial p{
        margin-right: 0px;
        text-align:start;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 10px;
    }
    .endereco-areal p{
        margin-left: 0px;
        text-align:end;
        font-size: 15px;
        margin-bottom: 16px;
        padding: 10px;
    }

    .horarios{
        font-size: 15px;
        margin-top: 100px;
        gap: 15px;
        height: 65px;
        width: 450px;
    }
    .localizacao-jardim a{
        height: 40px;
        gap: 10px;
        width: 150px;
        border-radius:10px ;
        margin-top: 20px;
    }
    .localizacao-areal a{
        height: 40px;
        gap: 10px;
        width: 150px;
        border-radius:10px ;
        margin-top: 20px;
        margin-left: 300px;
    }


    /* BOTÃO DE SAIBA MAIS */
    .compra{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .compra p {
        padding: 10px 20px;
        background-color: rgb(66,179,229);
        color: white;
        border-radius: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 50px;
        cursor: pointer;
        background-image:linear-gradient(to right,rgb(0, 183, 255), rgb(0, 183, 255), rgb(255, 255, 255),rgb(0, 183, 255), rgb(0, 183, 255));
        background-size: 300% 100%;
        animation: animation 5s infinite;
    }
    .compra p:hover {
        color: black;
        padding: 11px 21px;
    }


    /* CONTAINERS BLACK */
    .titulo-global-b {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-b h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .produto{
        width: 300px;
        margin-bottom: 50px;
    }
    .produto img {
        height: 220px;
        border-radius: 20px;
    }


    /* MEDICAMENTOS */
    .titulo-global-m {
        padding-top: 100px;
        font-size: 18px;
    }
    .titulo-global-m h2{
        padding: 10px 0px;
        margin-bottom:100px;
    }
    .medicamentos {
        width: 300px;
    }
    .medicamentos img {
        height: 220px;
        border-radius: 20px;
    }


    /* AGROPECUÁRIA */
    .titulo-global-c{
        margin-bottom:85px;
        padding-top: 150px;
        font-size: 18px;
    }
    .agro {
        width: 400px;
        margin-bottom: 25px;
    }

    .agro h3 {
        padding: 1px 0px;
        margin-bottom: 60px;
    }
    .agro img {
        height: 220px;
        border-radius: 30px;   
    }
    .equinos {
        width:220px;    
    }


    /* VACINAS */
    .vacina {
        width: 400px;
        height: 420px;
        margin-bottom: 30px;
    }

    .vacina h3 {
        padding: 1px 0px;
        margin-bottom: 20px;
    }
    .vacina img {
        height: 200px;
        border-radius: 30px;
        width: 200px;
    }
    .vacina p {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1401px) and (max-width:1700px) {
        /* LOGO */
    .logo {
        height: 100px;
        width: 180px;
    }

    /* MENU DE DIRECIONAMENTO */
    .menu {
        height: 100px;
    }
    .navegacao{
        padding:6px;
    }
    .navegacao a div{
        font-size: 16px;
        padding: 15px 32px;
    }
    .navegacao a div:hover {
        padding: 15px 32px;
    }


    /* IMAGEM INICIAL - DIRETOS DE IMAGEM */
    .fundo-inicial {
        height: 90vh;
    }
    .fundo-inicial img {
        height: 90vh;
    }
    .titulo-fundo{
        right:150px
    }
    .titulo-fundo img{
        height: 140px;
        width: 400px;
    }
    .titulo-fundo1{
        bottom: 1px;
        right: 20px;
    }
    .instagram img{
        height: 20px; 
    }
}
